*,::before,::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #000;
    /* margin: 20px; */
}

header {
    display: flex;
    background: rgb(243, 233, 241);
    align-items: center;
    justify-content: space-around;
    height: 150px;
}

a {
    text-decoration: none;
    color: #000;
}

.header_logo {
    width: 15%;
    margin: 0 20px;
    object-fit: cover;
}

.header_title {
    width: 70%;
    font-family: 'Caveat', cursive;
    font-size: 34px;
    text-align: center;
}

.header_icon {
    width: 10%;
    text-align: center;
    font-size: 24px;
}

.header_link {
    text-decoration: none;
    color: #000;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    margin: 40px 20px 20px 20px;
    height: auto;
}

.product {
    width: 40%;
    height: auto;
    margin: 10px 0 10px 0;
    background: rgb(243, 233, 241);
    border-radius: 20px;
}

.product_img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    padding: 10px;
    border-radius: 20px 20px 0 0;
}

.product_title {
    padding: 10px 0;
    text-align: center;
}

/* .product_content {
    padding: 10px 20px 20px 20px;
    display: flex;
    align-items: center;
} */

.product_content {
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px 20px 20px 20px;
}

.product_price {
    width: 100%;
    /* text-align: center; */
    font-weight: bold;
    display: flex;

}