*,::before,::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "name icon" 
    "title title";
    background: rgb(19, 25, 33);
    align-items: center;
    justify-content: space-around;
    height: auto;
}

.header_name {
    width: 15%;
    margin: 20px 20px;
    color: rgb(255, 255, 248);
    font-family: 'Caveat', cursive;
    cursor: pointer;
    grid-area: name;
}

.header_title {
    width: 70%;
    font-family: 'Caveat', cursive;
    font-size: 34px;
    text-align: center;
    color: rgb(255, 255, 248);
    grid-area: title;
    justify-self: center;
    margin-bottom: 20px;
}

.header_icon {
    width: 10%;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    color: rgb(255, 255, 248);
    grid-area: icon;
    justify-self: flex-end;
    margin-right: 30px;
}

.header_icon::after {
    content: attr(qty);
    color: rgb(154, 36, 33);
    position: relative;
    top: -15px;
    left: -3px;
}

.list_product {
    color: white;
    font-weight: bold;
    font-size: 24px;
    background: rgb(35, 47, 62);
    width: 100%;
    height: 3em;
    text-align: center;
    padding-top: 20px;
}

.error {
    width: 100%;
    text-align: center;
    font-size: 34px;
    color: red;
    margin-top: 50px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
    color: #000;
}

/* --------- Index ------------ */

.product {
    width: 95%;
    cursor: pointer;
    margin: 30px auto;
    border-radius: 20px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "image title"
    "image desc"
    "image price";
}

.product_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-area: image;
    border-radius: 20px 0 0 20px;
}

.product_title {
    grid-area: title;
    justify-self: center;
    align-self: center;
}

.product_content {
    grid-area: desc;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    align-self: center;
    padding-left: 5px;
    font-size: 20px;
}

.product_price {
    font-weight: bold;
    justify-self: center;
    align-self: center;
}

/* ---------- Produit unique ------------- */

.one_product {
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 0.2fr);
    grid-template-areas: 
    "image"
    "title"
    "desc"
    "color"
    "quantity"
    "price"
    "btn";
    width: 95%;
    height: auto;
    margin: 30px auto;
    border-radius: 20px;
}

.img_product {
    grid-area: image;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.title_product {
    grid-area: title;
    justify-self: center;
    align-self: center;
    margin: 10px 0;
}

.content_product {
    grid-area: desc;
    font-size: 20px;
    padding-left: 10px;
    align-self: center;
    justify-self: center;
    margin: 10px 0;
}

.colors_product {
    grid-area: color;
    height: 2em;
    width: 50%;
    justify-self: center;
    align-self: center;
    margin: 10px 0;
}

.label_quantity {
    grid-area: quantity;
    justify-self: start;
    align-self: center;
    font-size: 20px;
    margin-left: 20px;
}

.product_quantity {
    grid-area: quantity;
    width: 15%;
    height: 2em;
    justify-self: end;
    align-self: center;
    margin: 10px 20px 10px 0;
}

.price_product {
    grid-area: price;
    font-weight: bold;
    font-size: 20px;
    justify-self: center;
    align-self: center;
    margin: 10px 0;
}

.btn_add {
    grid-area: btn;
    width: 50%;
    height: 3em;
    border-radius: 20px;
    background: rgb(255, 216, 20);
    justify-self: center;
    align-self: center;
    margin: 15px;
}

/* ------ Panier vide --------- */

.empty_basket {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 30px;
    justify-self: center;
    align-self: center;
}

.return_home {
    color: #000;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: underline;
}

/* ------ Panier plein --------- */

.section_product {
    display: grid;
    grid-template-columns: 1fr;
    margin: 40px 10px 20px 10px;
}

.product_line {
    width: 100%;
    margin: 10px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
}

.article_title {
    justify-self: center;
    align-self: center;
    padding: 5px;
}

.article_color {
    justify-self: center;
    align-self: center;
    padding: 5px;
}

.article_quantity {
    width: 50%;
    height: 2em;
    justify-self: center;
    align-self: center;
}

.article_price {
    font-weight: bold;
    justify-self: center;
    align-self: center;
}

.article_delete {
    justify-self: center;
    align-self: center;
    cursor: grab;
}

.delete {
    width: 40%;
    justify-self: center;
    align-self: center;
    border-radius: 20px;
    height: 1.8em;
    margin: 10px 0;
}

.total_title {
    font-weight: normal;
    justify-self: center;
    margin: 20px 0;
}

.total_price {
    font-weight: bold;
    border: 1px solid black;
    padding: 5px;
}

.validate_order {
    justify-self: center;
    align-self: center;
    margin: 20px 0;
    width: 80%;
    height: 2.5em;
    border-radius: 20px;
    font-size: 18px;
    background: rgb(255, 216, 20);
}

/* ------ Formulaire Commande ---------- */

.form_list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 30px 10px 30px 10px;
    grid-template-areas: 
    "label input"
    "label input"
    "label input"
    "label input"
    "label input"
    "btn btn";
}

.form_list label {
    justify-self: start;
    margin: 10px 5px 10px 10px;
}

.form_list input {
    align-self: center;
    height: 2em;
    margin-right: 20px;
}

.btn_command {
    grid-area: btn;
    margin: 30px 0;
    width: 50%;
    justify-self: center;
    align-self: center;
    height: 3em;
    font-size: 18px;
    border-radius: 20px;
    background: rgb(255, 164, 28);
}

/* -------- Page confirmation --------- */

.display_confirm {
    display: flex;
    flex-direction: column;
    margin: 30px 20px;
    font-size: 20px;
}

.display_confirm h2 {
    margin-bottom: 10px;
}

.display_confirm span {
    font-weight: bold;
}

.display_confirm p {
    margin: 10px 0 10px 0;
}

.btn_confirm {
    margin: auto;
    margin-top: 20px;
    width: 30%;
    padding: 5px;
    border-radius: 20px;
}


/* CSS PAGE 404 */

.err_container {
    display: flex;
    flex-direction: column;
}

.err_title {
    color: red;
    font-size: 5em;
    margin-bottom: 20px;
    align-self: center;
}

.err_text {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 50px;
}

.err_btn {
    width: 30%;
    align-self: center;
    background-color: rgb(243, 233, 241);
    border-radius: 20px;
    height: 3em;
    border: 1px solid rgb(243, 233, 241);
    color: red;
    cursor: pointer;
}


/* ------------ FOOTER ---------------- */

footer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    background: rgb(19, 25, 33);
    box-shadow: 0px 0px 5px rgb(192, 179, 179);
    padding-bottom: 15px;
    padding-top: 10px;
}
footer div {
    display: flex;
    flex-direction: column;
}
footer div a {
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1em;
    color: rgb(255, 255, 248);
}
footer div a:hover {
    color: #585858;
    font-size: 1.2em;
    transition: 0.3s;
}

/* ----- MEDIA QUERIES --------- */

@media screen and (min-width: 426px) and (max-width: 768px) {
    
    .one_product {
        width: 80%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    header {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "name title icon";
    }

    .one_product {
        width: 60%;
    }

    .delete {
        width: 20%;
    }

    .validate_order {
        width: 50%;
    }

    .form_list {
        width: 60%;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px){
    header {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "name title icon";
    }

    .header_name, .header_icon, .header_title {
        font-size: 44px;
    }

    .header_icon {
        margin-right: 50px;
    }

    .header_icon::after {
        top: -30px;
        left: -8px;
    }

    footer  {
        font-size: 24px;
    }

    .list_product {
        font-size: 34px;
    }

    .product {
        width: 60%;
    }

    .one_product {
        width: 40%;
    }

    .product_quantity {
        width: 10%;
        margin-right: 50px;
    }

    .btn_add {
        margin-bottom: 40px;
    }

    .product_line {
        font-size: 24px;
    }

    .article_quantity {
        width: 30%;
        margin-top: 5px;
    }

    .delete {
        font-size: 18px;
        width: 20%;
    }

    .validate_order {
        width: 50%;
    }

    .form_list {
        width: 50%;
        font-size: 24px;
    }
}

@media screen and (min-width: 1441px) {
    
    header {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "name title icon";
    }

    .header_name, .header_icon, .header_title {
        font-size: 64px;
    }

    .header_icon::after {
        top: -45px;
        left: -12px;
    }

    .list_product, .product_title, .product_content, .product_price, footer, .content_product, .price_product, .colors_product, .label_quantity, .product_quantity, .btn_add {
        font-size: 34px;
    }

    .product {
        width: 60%;
    }

    .one_product {
        width: 40%;
    }

    .title_product {
        font-size: 44px;
    }

    .colors_product, .product_quantity, .article_quantity {
        height: 2.3em;
        border: 1px solid;
        padding-left: 10px;
    }

    .product_quantity {
        margin-right: 50px;
        border: 1px solid;
        padding-left: 10px;
        width: 10%;
    }

    .section_product {
        font-size: 34px;
        width: 70%;
    }

    .delete {
        width: 20%;
        font-size: 24px;
    }

    .validate_order {
        width: 50%;
        font-size: 34px;
    }

    .form_list {
        width: 50%;
        font-size: 34px;
    }

    .form_list input {
        height: 3em;
        font-size: 24px;
        margin-bottom: 20px;
        border: 1px solid;
        padding-left: 10px;
    }

    .btn_command {
        font-size: 30px;
        width: 80%;
    }

    .display_confirm, .btn_confirm {
        font-size: 34px;
    }
}